:root {
    font-family: sans-serif;
    font-size: 16px;

    --cor_clara: white;
    --cor_escura: black;

    --cor_primaria: LightSteelBlue;
    --cor_primaria_variante1: CornflowerBlue;
    --cor_primaria_variante2: MidnightBlue;

    --cor_secundaria: BlueViolet;
    --cor_secundaria_variante1: Indigo;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header nav"
        "aside main"
        "footer footer";
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-size: 1rem;
}

header {
    grid-area: header;
    padding: 2rem 1rem;
}

header a {
    text-decoration: none;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem 3rem 1rem 0;
}

.btn_nav {
    width: 3rem;
    height: 3rem;
    padding: 0.6rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

form {
    display: inline-block;
    flex: 1;
    position: relative;
}

#input_buscar {
    width: 100%;
    height: 3.3rem;
    box-sizing: border-box;
    padding-right: 2rem;
    border-radius: 2rem;
    padding-left: 1rem;
    font-size: 1rem;
}

#btn_buscar {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

aside {
    grid-area: aside;
    background-color: var(--cor_primaria);
    padding: 1rem;
}

aside ul {
    list-style: none;
}

aside li {
    border: 1px solid var(--cor_secundaria_variante1);
    margin: 0.4rem 0;
    padding: 0.4rem 0.8rem;
}

aside li:hover {
    background-color: var(--cor_secundaria);
    color: var(--cor_clara);
}

main {
    grid-area: main;
    background-color: var(--cor_clara);
}

section {
    margin: 1rem 1rem;
    padding: 0.6rem 0.6rem;
    border: 3px solid var(--cor_primaria_variante2);
    border-radius: 0.6rem;
}

#nova_solicitacao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 480px;
    background-color: var(--cor_clara);
    border: 1px solid var(--cor_escura);
    box-shadow: 0 0 1px 5000px rgba(0, 0, 0, 0.6);
}

#lista_solicitacoes {
    list-style: none;
}

#lista_solicitacoes h2 {
    margin-bottom: 1rem;
}

#lista_solicitacoes li:not(:last-child) {
    margin-bottom: 2rem;
}

footer {
    grid-area: footer;
    background-color: var(--cor_primaria_variante1);
    text-align: center;
    padding: 1rem 0;
}
